@import "./variables";

.link {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;

  &.link-default {
	  color: @btn-default-color;
	  background-color: @btn-default-bg;
  }

  &.link-block {
      display: block;
      width: 100%;
      text-align: center;
  }

  &.link-has-arrow {
    &:after {
      content: "";
      display: inline-block;
      width: 9px;
      height: 14px;
      background: data-uri('@{static}/modules/base/img/img_arrow_right_grey.png') no-repeat;
      background-size: 100%;
      vertical-align: -3px;
      margin-left: 2px;
    }
  }

}
